{% raw %}
<script type="text/x-template" id="post-template">
	{{#each this}}
  <div class="post-item inline-block va-top">

    <div class="featured-image">
      <a href="{{ url }}" style="background-image: url({{ featuredImage }});"></a>
    </div>

    <div class="post-details">
      <div class="inner">


        <h2 class="post-title">
          <a class="c-dark-gray" href="{{ url }}">{{ title }}</a>
        </h2>
        <div class="post-author">
          By <a href="{{ authorSlug }}">{{ authorName }}</a>
        </div>

    </div>
  </div>
</div>
	{{/each}}
</script>
{% endraw %}

{# Get all posts from all blogs and put into JSON #}
{% set blog_one_posts = blog_recent_posts('default', 250) %}
{% set blog_two_posts = blog_recent_posts('10664889011', 250 ) %} {# Agronomy #}
{% set blog_three_posts = blog_recent_posts('10726125367', 250 ) %} {# Inputs #}
{% set blog_four_posts = blog_recent_posts('10726240739', 250 ) %} {# Profitability #}
{% set blog_five_posts = blog_recent_posts('10726125368', 250 ) %} {# Farm & Rural Issues #}
{% set all_posts = (blog_one_posts + blog_two_posts + blog_three_posts + blog_four_posts + blog_five_posts) | sort(true, false, 'publish_date')  %}

<script>
  var post_array = [];
  {% for content in all_posts %}
    post_array.push({
      "title"				: "{{ content.name|escapejson }}",
      "url"				: "{{ content.absolute_url|escapejson }}",
      "featuredImage"		: "{{ content.post_list_summary_featured_image|escapejson }}",
      "featuredImageAlt"	: "{{ content.featured_image_alt_text|escapejson }}",
      "categories"		: [{% for tag in content.tag_list %}
      "{{ tag.slug|escapejson }}"{% unless loop.last %},{% endunless %}
      {% endfor %}],
      "authorName" : "{{ content.blog_post_author.display_name|escapejson }}",
      "authorSlug" : "{{ content.blog_post_author.slug|escapejson }}"
    });
  {% endfor %}
</script>




<script>
$(document).ready(function(){
  var incrementingPosts = 8;
  var postItemCounter = 8;
  var template = Handlebars.compile( $('#post-template').html() );

  function renderPosts(){
    $('.latest-content .posts-container').append( template(post_array) );
  }

  function loadMore() {
		$('.post-item').slice(0, postItemCounter).css('display', 'inline-block');

		if( $('.post-item').length <= postItemCounter ) {
			$('.load-more').hide();
		}
	}

  $('.load-more').on('click', function(e) {
    postItemCounter += incrementingPosts;
    loadMore();
  });

  /* Initial Page Load */
  renderPosts();
  loadMore();
});
</script>
